### Scraping the 2019 Novel Coronavirus data from Ministry of Health and Long-Term Care

Note: Due to browser requirements, need to use Selenium and [geckodriver](https://github.com/mozilla/geckodriver/releases/tag/v0.26.0) since the page checks for a javascript-enabled browser (using `requests` or `urllib` will not work)

In [4]:
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import requests

driver = webdriver.Firefox()
driver.get('https://www.ontario.ca/page/2019-novel-coronavirus')

html = driver.page_source
soup = BeautifulSoup(html)

### Status Update - Single line table

In [16]:
# Get the status update table
status_update = pd.read_html(driver.page_source)[0]

In [37]:
st2 = status_update.transpose()
st2.columns = st2.iloc[0,:]
st2.drop(index=0, axis=0, inplace=True)
st2

,Negative1,Currently under investigation2,Confirmed positive3,Resolved4,Deceased,Total number of patients approved for COVID-19 testing to date
1,21795,10074,572,8,8,32457

In [26]:
st2

0
Negative1                                                         21795
Currently under investigation2                                    10074
Confirmed positive3                                                 572
Resolved4                                                             8
Deceased                                                              8
Total number of patients approved for COVID-19 testing to date    32457
Name: 1, dtype: object

### Detailed Patient Information

In [40]:
pd.read_html(driver.page_source)[1]

,Case number,Patient (age and gender),Public Health Unit,"Transmission (community, travel or close contact)",Status
0,504,30s Male,Kingston Frontenac Lennox Addington,travel (UK),self-isolating
1,505,70s Female,Kingston Frontenac Lennox Addington,travel (Singapore),self-isolating
2,506,70s Male,Kingston Frontenac Lennox Addington,travel (Singapore),self-isolating
3,507,40s Female,Waterloo,pending,self-isolating
4,508,30s Female,Toronto,pending,self-isolating
...,...,...,...,...,...
80,584,pending,pending,pending,pending
81,585,pending,pending,pending,pending
82,586,pending,pending,pending,pending
83,587,pending,pending,pending,pending
84,588,pending,pending,pending,pending