### Scraping the 2019 Novel Coronavirus data from Ministry of Health and Long-Term Care

Note: Due to browser requirements, need to use Selenium and [geckodriver](https://github.com/mozilla/geckodriver/releases/tag/v0.26.0) since the page checks for a javascript-enabled browser (using `requests` or `urllib` will not work)

In [12]:
from selenium import webdriver
from selenium.webdriver.firefox.options import Options
from bs4 import BeautifulSoup
import pandas as pd

# Add headless option
options = Options()
options.add_argument("--headless")

# Fetch the page
driver = webdriver.Firefox(options=options)
driver.get('https://www.ontario.ca/page/2019-novel-coronavirus')

# Get html & create soup
pagehtml = driver.page_source
soup = BeautifulSoup(pagehtml)

### Date and time (for ouput)

### Status Update - Single line table

In [9]:
# Get the status update table
status_update = pd.read_html(pagehtml)[0]

In [10]:
st2 = status_update.transpose()
st2.columns = st2.iloc[0,:]
st2.drop(index=0, axis=0, inplace=True)
st2

,Negative1,Currently under investigation2,Confirmed positive3,Resolved4,Deceased,Total number of patients approved for COVID-19 testing to date
1,24458,10489,667,8,13,35635

In [7]:
st2.to_csv('')

,Negative1,Currently under investigation2,Confirmed positive3,Resolved4,Deceased,Total number of patients approved for COVID-19 testing to date
1,24458,10489,667,8,13,35635

### Detailed Patient Information

In [11]:
pd.read_html(pagehtml)[1]

,Case number,Patient (age and gender),Public Health Unit,"Transmission (community, travel or close contact)",Status
0,589,70s Male,Wellington Dufferin Guelph,"travel (Spain, France)",self-isolating
1,590,20s Female,York,travel (Dominican),self-isolating
2,591,40s Female,Toronto,pending,self-isolating
3,592,30s Male,Peel,pending,self-isolating
4,593,60s Male,Peel,travel (UK),self-isolating
...,...,...,...,...,...
95,684,pending,pending,pending,pending
96,685,pending,pending,pending,pending
97,686,pending,pending,pending,pending
98,687,pending,pending,pending,pending
99,688,pending,pending,pending,pending